<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.air.ai_blue_tooth_print">

    <application>
        <activity android:name=".AiBlueToothPrintPlugin" />
        <activity android:name=".SearchPrintActivity" />
        <activity android:name=".zebra.PrinterSettingActivity" />
    </application>
</manifest>
